<ul class="country-list">
   {{#each this}}
      <li class="country-list__item">
         <img src="{{flag}}" alt="Флаг" class="country-list__flag">
         <h2 class="country-list__name">{{name}}</h2>
      </li>
   {{/each}}
</ul>